@font-face {
  font-family: 'YIcons';
  src:  url('static/fonts/YIcons.eot?xnmpf');
  src:  url('static/fonts/YIcons.eot?xnmpf#iefix') format('embedded-opentype'),
  url('static/fonts/YIcons.ttf?xnmpf') format('truetype'),
  url('static/fonts/YIcons.woff?xnmpf') format('woff'),
  url('static/fonts/YIcons.svg?xnmpf#YIcons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

body {
  font-family: 'Montserrat', sans-serif;
}
